ClincAppointment/BL/bin
ClincAppointment/BL/obj
ClincAppointment/ClincAppointment/bin
ClincAppointment/.vs
ClincAppointment/ClincAppointment/obj
*.user
ClincAppointment/DAL/bin
ClincAppointment/DAL/obj
